html {
  font-size: 16px;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 1.75rem;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $eqBlack;
  line-height: 1.25;
}

h2 {
  font-size: 1.75rem;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $eqBlack;
  line-height: 1.25;
}

h3 {
  font-size: 1.5rem;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $eqBlack;
  line-height: 1.25;
}
h4 {
  font-size: 0.85rem;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $eqSubHeader;
  line-height: 1.25;
}

p {
  font-size: 0.85rem;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $eqBlack;
}

p.underlined {
  text-decoration: underline;
}

a {
  font-size: 0.85rem;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $eqBlue;

  &:hover {
    color: $eqDarkGrey;
  }
}
