.archive-page__projects {
  padding: 6rem 15px 0;

  .categories-filter__wrapper {
    border-bottom: 1px solid $eqLightGrey;
    padding-bottom: 15px;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(5px);
    animation: fadeIn 500ms ease 1s forwards;

    .current-active-category {
      text-decoration: underline;
    }
  }

  .filtered-articles {
    @media (max-width: 920px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 580px) {
      grid-template-columns: 1fr;
    }

    .article__wrapper {
      margin-right: 8px;
      padding-right: 8px;
      border-right: 1px solid $eqLightGrey;

      @media (max-width: 580px) {
        margin-right: 0;
        padding-right: 0;
        border-right: 0;
      }

      h3 {
        transition: all 850ms ease;
      }

      > div:first-of-type {
        overflow: hidden;
        object-fit: cover;
      }
      img {
        min-height: 270px;
        max-height: 270px;
        object-fit: cover;
        width: 100%;
        transition: all 850ms ease;
      }

      > div:last-of-type {
        margin-bottom: 4rem;

        @media (max-width: 580px) {
          margin-bottom: 2.5rem;
        }
      }

      span {
        display: block;
        width: 100%;
        height: 1px;
        background-color: $eqLightGrey;
        margin-bottom: 15px;
      }
    }

    .article__wrapper:nth-of-type(3n) {
      margin-right: 0;
      padding-right: 0;
      border-right: 1px solid transparent;

      @media (max-width: 920px) {
        margin-right: 8px;
        padding-right: 8px;
        border-right: 1px solid $eqLightGrey;
      }

      @media (max-width: 580px) {
        margin-right: 0;
        padding-right: 0;
        border-right: 0;
      }
    }

    .article__wrapper:nth-of-type(2n) {
      @media (max-width: 920px) {
        margin-right: 0;
        padding-right: 0;
        border-right: 1px solid transparent;
      }
    }

    .article__wrapper:first-of-type span {
      display: none;
    }
    .article__wrapper:nth-of-type(2) span {
      display: none;

      @media (max-width: 580px) {
        display: block;
      }
    }
    .article__wrapper:nth-of-type(3) span {
      display: none;

      @media (max-width: 920px) {
        display: block;
      }
    }

    .article__wrapper:last-of-type {
      margin-right: 0;
      padding-right: 0;
      border-right: 1px solid transparent;
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.article__wrapper:hover h3 {
  color: $eqBlue;
}
.article__wrapper:hover img {
  opacity: 0.7;
}
