// Front Page
// Hero lives in Components folder

// Hiding title on home page
.home #section-about > .section-title__wrapper {
  display: none;
}

// Overflow for GSAP Scrolling/Pinning
.home #page {
  overflow: hidden;
}

// Animate Hero
.js-loading #front-page-hero .screen-reveal {
  opacity: 1;
}

.home .site-main {
  position: relative;

  @media (max-width: 768px) {
    padding-top: 100vh;
  }
}

#front-page-hero {
  position: relative;
  margin-bottom: 8px;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .screen-reveal {
    opacity: 0;
    min-height: 100vh;
    width: 100%;
    background-color: $eqWhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: opacity 900ms ease-in-out;
  }

  .hero-img__wrapper {
    z-index: 10;
    img {
      min-height: 100vh;
      min-width: 100%;
      object-fit: cover;
      padding: 0;
      transition: padding 1100ms ease-in-out;
    }
  }
}

#front-page-content__wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  background: $eqWhite;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  #front-page__col-01 {
    flex: 1;
    padding: 0 15px;
    margin-left: 1px;

    > div {
      margin-bottom: 15px;
    }

    .featured-post__wrapper {
      border-bottom: 1px solid $eqLightGrey;
      padding-bottom: 15px;
      min-height: 60vh;
      max-height: 60vh;
      grid-template-columns: 1px 1.5fr 1fr;
      grid-gap: 15px;
      cursor: pointer;

      span {
        display: block;
        width: 1px;
        height: 100%;
        background-color: $eqLightGrey;

        @media (max-width: 768px) {
          display: none;
        }
      }

      @media (max-width: 1000px) {
        grid-gap: 20px;
      }

      @media (max-width: 830px) {
        max-height: none;
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 0;
      }

      > div:first-of-type {
        flex: 1;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      > div:last-of-type {
        flex: 1;
        display: flex;
        align-items: flex-end;

        div {
          width: 100%;

          img {
            width: 100%;
            filter: grayscale(1);
            transition: all 700ms ease-in-out;

            @media (max-width: 768px) {
              width: 50%;
            }
            @media (max-width: 500px) {
              width: 100%;
            }
          }
        }
      }

      .featured-post-title__wrapper h2 {
        transition: all 300ms ease-in-out;
        @media (max-width: 768px) {
          margin-bottom: 15px;
        }
      }

      .featured-content__wrapper {
        position: relative;

        .featured-post-details__wrapper {
          position: absolute;
          left: 0;
          bottom: 0;
          transition: all 600ms ease-in-out;

          @media (max-width: 768px) {
            position: relative;
            opacity: 1;
          }
        }

        .featured-post-text__wrapper {
          opacity: 0;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: all 600ms ease-in-out;

          p,
          a {
            margin-bottom: 1.25rem;
          }

          @media (max-width: 830px) {
            opacity: 1;
            position: relative;
            margin-bottom: 55px;
            margin-top: 20px;
          }

          @media (max-width: 768px) {
            margin-bottom: 20px;
          }
        }
      }
    }

    .featured-post-image__wrapper {
      display: grid;
      gap: 15px;
      grid-template-columns: 1px 1fr;

      @media (max-width: 768px) {
        display: none;
      }

      span {
        width: 1px;
        height: 100%;
        display: block;
        background-color: $eqLightGrey;

        @media (max-width: 768px) {
          display: none;
        }
      }

      img {
        width: 100%;
      }
    }

    > span {
      display: block;
      height: 1px;
      background-color: $eqLightGrey;
      margin-left: 15px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  // Hover to display Featured Post Excerpt
  #front-page__col-01
    .featured-post__wrapper:hover
    .featured-post-title__wrapper
    h2 {
    color: $eqBlue;
  }

  #front-page__col-01 .featured-post__wrapper:hover div:last-of-type div img {
    filter: grayscale(0);
  }

  #front-page__col-01
    .featured-post__wrapper:hover
    .featured-post-details__wrapper {
    opacity: 0;
  }
  #front-page__col-01
    .featured-post__wrapper:hover
    .featured-post-text__wrapper {
    opacity: 1;
  }

  #front-page__col-02 {
    flex: 1;
    padding: 0 15px;
    margin-top: 0 !important;
    transform: translateY(60vh);

    @media (max-width: 1200px) {
      transform: translateY(0vh);
    }

    @media (max-width: 768px) {
      margin-top: 0 !important;
    }

    > div:first-of-type {
      border-bottom: 1px solid $eqLightGrey;
      min-height: 60vh;
      margin-bottom: 15px;
      padding-bottom: 2.5rem;
    }
    > div:last-of-type {
      border-bottom: 1px solid $eqLightGrey;
      min-height: 60vh;
    }

    .section-title__wrapper {
      margin-bottom: 1.5rem;
    }

    .section-content__wrapper {
      width: 60%;

      @media (max-width: 768px) {
        width: 100%;
      }

      p,
      a {
        margin-bottom: 1.25rem;
      }

      .image__wrapper--mobile {
        display: none;

        @media (max-width: 768px) {
          display: block;
          padding-top: 3rem;
        }
      }

      .news-article-list {
        .news-article {
          margin-bottom: 50px;
          p.underlined {
            margin-bottom: 0;
          }
        }
      }
    }

    /* remove min-height set by JS */
    @media (max-width: 768px) {
      #section-news {
        min-height: 0px !important;
      }
    }
  }
}

// ***
// Scroll Features
// ***

.pin__wrapper {
  position: relative;
}

// .pinned {
//   position: fixed;
// }
