.page-case-studies {
  .flex__wrapper {
    position: relative;
    padding-top: 45px;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    > div:first-of-type {
      flex: 0.5;
      position: sticky;
      top: 105px;
      height: 100%;
      opacity: 0;
      transform: translateY(5px);
      animation: fadeIn 800ms ease-in-out 800ms forwards;

      @media (max-width: 930px) {
        flex: 0.525;
      }
      @media (max-width: 800px) {
        top: 0;
        width: 60%;
        height: auto;
        margin-top: 60px;
        position: relative;
        margin-bottom: 60px;
      }

      @media (max-width: 500px) {
        width: 100%;
      }

      p {
        margin: 0 15px 15px;

        span {
          @media (max-width: 800px) {
            display: none;
          }
        }
      }
    }
    > div:last-of-type {
      flex: 1;
    }
  }

  .case-studies__wrapper {
    margin-left: 8px;
    opacity: 0;
    animation: fadeIn 500ms ease 1s forwards;

    @media (max-width: 930px) {
      border-left: 1px solid $eqLightGrey;
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (max-width: 800px) {
      margin-left: 0;
      border-left: 0;
    }

    .grid__wrapper {
      row-gap: 0;

      @media (max-width: 930px) {
        grid-template-columns: 1fr;
      }

      > li {
        .inner__wrapper {
          @media (max-width: 930px) {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            gap: 15px;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid $eqLightGrey;
          }

          @media (max-width: 500px) {
            grid-template-columns: 1fr;
          }
        }

        span {
          display: block;
          height: 1px;
          width: 100%;
          background-color: $eqLightGrey;
          margin-bottom: 15px;

          @media (max-width: 930px) {
            display: none;
          }
        }

        h1,
        h2,
        h3 {
          margin-bottom: 3rem;
        }
        p {
          margin-bottom: 15px;
          padding-bottom: 2.5rem;

          @media (max-width: 930px) {
            padding-bottom: 0;
          }
        }

        img {
          object-fit: cover;
          min-height: 270px;
          max-height: 270px;
        }

        ul li p {
          margin-bottom: 0.5rem;
          padding-bottom: 0;
        }
      }

      > li:nth-of-type(odd) {
        border-right: 1px solid $eqLightGrey;
        border-left: 1px solid $eqLightGrey;
        margin-right: 6.5px;

        @media (max-width: 930px) {
          border-right: 0;
          border-left: 0;
        }

        .inner__wrapper {
          padding-left: 10px;
          padding-right: 10px;

          @media (max-width: 930px) {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
      > li:nth-of-type(even) {
        border-right: 0;
        .inner__wrapper {
          padding-left: 5px;
          padding-right: 10px;

          @media (max-width: 930px) {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }

      > li:first-of-type span {
        display: none;
      }
      > li:nth-of-type(2) span {
        display: none;
      }

      > li:last-of-type {
        @media (max-width: 930px) {
          border-bottom: 0;
        }
      }
    }
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
