.page__about {
  #about-heading {
    // max-height: calc(100vh - 70px);

    > div {
      width: 50%;
    }

    > div:first-of-type {
      padding: 15px;
      padding-right: 10px;
      img {
        max-height: calc(100vh - 70px);
      }
    }

    > div:last-of-type {
      flex-direction: column;
      justify-content: flex-end;
      padding: 15px 15px 20px 10px;
      padding-bottom: 20px;

      div {
        column-count: 2;
      }
    }
  }

  #section-heading {
    padding: 1rem 0 0 0;
    margin: 1rem 15px 1.5rem 15px;
    border-top: 1px solid $eqLightGrey;
  }

  #eq-team {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 15px 2.5rem 15px;

    .grid-item {
      padding: 0 8px 70px 0px;
      border-right: 1px solid $eqLightGrey;
      flex-direction: column;

      > span {
        margin-bottom: 15px;
      }

      .member-info__wrapper {
        margin-left: 12px;
        button {
          margin-top: 1rem;
        }
      }
    }

    .grid-item > span {
      display: block;
      width: 100%;
      height: 1px;
      background-color: $eqLightGrey;
    }

    .grid-item:first-of-type {
      margin-right: 8px;
    }

    .grid-item + .grid-item {
      margin-right: 8px;
    }

    .grid-item:nth-of-type(4n) {
      border-right-color: transparent;
      margin-right: 0;
      padding-right: 0;
    }
  }
}

.team-bio__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  height: 0;
  width: 100%;
  display: flex;
  z-index: 999;
  pointer-events: none;
  justify-content: flex-end;
  background-color: #aeaca9;
  background-color: rgba($color: #aeaca9, $alpha: 0.7);

  .bio-panel {
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 52.5%;
    padding: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;

    .close__wrapper {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 4.5rem;
    }

    background-color: $eqWhite;
    .panel-img__wrapper {
      margin-bottom: 2.5rem;
      img {
        max-width: 180px;
      }
    }
    .panel-text__wrapper {
      display: flex;

      > div {
        width: 50%;
      }
    }
  }
}

.team-bio__wrapper.open {
  left: 0;
}
