.page__approach {
  #approach-heading {
    > div {
      flex: 1;
      min-height: calc(100vh - 70px);

      @media (max-width: 768px) {
        min-height: auto;
      }
    }

    > div.flex__wrapper:first-of-type {
      align-items: flex-end;
      padding: 15px 15px 30px 15px;
    }

    .content__wrapper:first-of-type {
      width: 60%;

      h1,
      h2,
      h3,
      h4,
      p,
      a {
        margin-bottom: 1rem;
      }
    }

    div {
      img {
        height: 100%;
        object-fit: cover;
        object-position: bottom;

        @media (max-width: 768px) {
          height: 80vh;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  #approach-timeline {
    border-top: 1px solid $eqLightGrey;

    .timeline__row {
      grid-template-columns: 0.5fr 1fr 1fr 0.5fr;

      @media (max-width: 1030px) {
        grid-template-columns: 0.5fr 1fr 1fr;
      }

      @media (max-width: 680px) {
        grid-template-columns: 0.5fr 1fr;
      }

      @media (max-width: 580px) {
        grid-template-columns: 1fr;
      }
      // Reset WYSIWYG editor -- different from .content-editor__reset class
      h1,
      h2,
      h3,
      h4 {
        font-size: 0.85rem;
        font-family: 'MaisonNeue', sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $eqBlack;
        line-height: 1.25;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 1rem;
        color: $eqSubHeader;
      }

      img {
        max-width: 60%;
      }

      > div:first-of-type {
        border-color: #e1e1e1;
        background-color: #e1e1e1;
        padding: 0 15px;

        @media (max-width: 580px) {
          background-color: $eqWhite;
        }
      }
      > div:nth-of-type(2) {
        .project-link {
          display: none;
          @media (max-width: 1030px) {
            display: block;
          }
        }

        .content__wrapper.nth-even {
          display: block;

          @media (min-width: 679px) {
            display: none;
          }
        }
      }
      > div:nth-of-type(3) {
        .project-link {
          display: none;
          @media (max-width: 1030px) {
            display: block;
          }
        }

        .content__wrapper {
          @media (max-width: 680px) {
            display: none;
          }
        }

        @media (max-width: 680px) {
          display: none;
        }
      }
      > div:last-of-type {
        @media (max-width: 1030px) {
          display: none;
        }
      }

      > div {
        padding: 0 15px;
        min-height: 30vh;
        border-right: 1px solid $eqLightGrey;

        @media (max-width: 580px) {
          padding: 15px !important;
          min-height: auto;
          border-right: none;
          border-bottom: 1px solid $eqLightGrey;
        }
      }
    }

    #timeline__title-row {
      > div:first-of-type {
        padding-top: 15px;
      }

      > div:nth-of-type(2) {
        @media (max-width: 580px) {
          display: none;
        }
      }
    }

    .timeline__footer-row {
      @media (max-width: 580px) {
        display: none;
      }
      > div {
        height: 80px;
        min-height: 80px;
        border-color: transparent;
      }
    }
  }
}
