.page__about {
  #about-heading {
    > div {
      min-height: calc(100vh - 70px);
      @media (max-width: 920px) {
        min-height: auto;
      }
    }

    > div:first-of-type {
      padding: 15px;
      padding-right: 10px;
      width: 50%;

      @media (max-width: 1000px) {
        width: 40%;
      }
      @media (max-width: 920px) {
        width: 100%;
        padding: 15px;
      }

      img {
        height: 100%;
        max-height: calc(100vh - 70px);
        object-fit: cover;
      }
    }

    > div:last-of-type {
      width: 50%;
      flex-direction: column;
      justify-content: flex-end;
      padding: 15px 15px 20px 10px;
      padding-bottom: 20px;

      @media (max-width: 1000px) {
        width: 60%;
      }

      @media (max-width: 920px) {
        width: 100%;
        padding: 15px;
      }

      div {
        column-count: 2;

        @media (max-width: 920px) {
          column-count: 1;
          width: 60%;
        }
      }
    }

    @media (max-width: 920px) {
      flex-direction: column;
    }
  }

  #section-heading {
    padding: 1rem 0 0 0;
    margin: 1rem 15px 1.5rem 15px;
    border-top: 1px solid $eqLightGrey;
  }

  #eq-team {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 15px 2.5rem 15px;

    @media (max-width: 920px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 660px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }

    .grid-item {
      padding: 0 8px 70px 0px;
      border-right: 1px solid $eqLightGrey;
      flex-direction: column;

      > span {
        margin-bottom: 15px;
      }

      // Member Image
      .member-img__wrapper {
        @media (max-width: 768px) {
          width: 40%;
        }
      }

      .member-info__wrapper {
        margin-left: 12px;
        button {
          margin-top: 1rem;
        }

        @media (max-width: 768px) {
          width: 60%;
        }
      }

      @media (max-width: 500px) {
        margin-right: 0;
        border-right: 0;
      }
    }

    .grid-item > span {
      display: block;
      width: 100%;
      height: 1px;
      background-color: $eqLightGrey;
    }

    .grid-item:first-of-type {
      margin-right: 8px;

      @media (max-width: 500px) {
        margin-right: 0;
      }
    }

    .grid-item + .grid-item {
      margin-right: 8px;
    }

    .grid-item:nth-of-type(3n) {
      @media (max-width: 920px) {
        border-right-color: transparent;
        margin-right: 0;
        padding-right: 0;
      }

      @media (max-width: 660px) {
        border-right-color: $eqLightGrey;
        margin-right: 8px;
        padding-right: 8px;
      }
    }

    .grid-item:nth-of-type(4n) {
      border-right-color: transparent;
      margin-right: 0;
      padding-right: 0;

      @media (max-width: 920px) {
        border-right-color: $eqLightGrey;
        margin-right: 8px;
        padding-right: 8px;
      }
    }

    .grid-item:nth-of-type(2n) {
      @media (max-width: 660px) {
        border-right-color: transparent;
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}

.team-bio__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  height: 0;
  width: 100%;
  display: flex;
  z-index: 999;
  pointer-events: none;
  justify-content: flex-end;
  background-color: rgba($color: #aeaca9, $alpha: 0.7);

  .bio-panel {
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 52.5%;
    padding: 0;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;

    @media (max-width: 680px) {
      width: 67.5%;
    }

    .close__wrapper {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 4.5rem;
    }

    background-color: $eqWhite;
    .panel-img__wrapper {
      margin-bottom: 2.5rem;
      img {
        max-width: 180px;
      }
    }
    .panel-text__wrapper {
      display: flex;

      @media (max-width: 1200px) {
        flex-direction: column;
      }

      p.eq-blue {
        @media (max-width: 1200px) {
          margin-bottom: 1rem;
        }
      }

      > div {
        width: 50%;

        @media (max-width: 1200px) {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.team-bio__wrapper.open {
  left: 0;
}
