header#site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 70px;
  // padding: 0 15px;
  background-color: $eqWhite;
  border-bottom: 1px solid $eqLightGrey;
  transition: all 500ms ease;
  z-index: 998;

  #site-branding {
    display: flex;
    flex: 0.5;
    align-items: flex-end;
    padding-bottom: 7px;
    padding-left: 15px;

    #mainBranding {
      @media (max-width: 500px) {
        display: none;
      }
    }

    #headerBrandingMobile {
      display: none;

      @media (max-width: 500px) {
        display: block;
      }
    }
  }

  @media (max-width: 500px) {
    height: 50px;
  }
}

header#site-header.is-scrolled {
  #site-branding {
    #mainBranding {
      display: none;
    }

    #headerBrandingMobile {
      display: block;
    }
  }
}

//
// Front Page Header Styles
//

.home.transparent-header header#site-header {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

.home #site-header {
  opacity: 0;
  animation: headerFadesIn 600ms ease-in 1600ms forwards;
}

.home .site #site-header.nav-open {
  background-color: $eqWhite;
  border-bottom: 1px solid $eqLightGrey;
}

@keyframes headerFadesIn {
  to {
    opacity: 1;
    top: 0;
  }
}
