#site-navigation {
  flex: 1;
  .menu-toggle {
    @media (min-width: 768px) {
      display: none;
    }

    height: 30px;
    width: 30px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    span {
      display: block;
      height: 1px;
      width: 100%;
      background-color: $eqBlack;
    }
  }

  .menu-main-container {
    height: 100%;

    .menu {
      height: 100%;
      display: flex;
      justify-content: space-around;

      .menu-item {
        width: 25%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        // To make drop down mouse over easier
        border-bottom: 8px solid transparent;

        &::before {
          content: '';
          display: block;
          width: 1px;
          height: 52px;
          margin-right: 11px;
          background-color: $eqLightGrey;
          transition: all 500ms ease;
          transition-delay: 50ms;
        }
        a {
          font-size: 13px;
          color: $eqBlack;
        }
      }

      .menu-item-has-children {
        @media (max-width: 768px) {
          position: relative;
          padding: 0 !important;
          flex-direction: column;
          align-items: flex-start;
        }

        > a {
          @media (max-width: 768px) {
            padding: 15px;
            width: 100%;
            border-bottom: 1px solid $eqLightGrey;
          }
        }

        &:hover {
          .sub-menu {
            visibility: visible;
            pointer-events: all;
          }
        }

        ul.sub-menu {
          display: flex;
          visibility: hidden;
          pointer-events: none;
          position: absolute;
          top: 70px;
          right: 0;
          left: 0;
          padding: 0 15px;

          white-space: nowrap;
          background-color: $eqWhite;
          height: 40px;

          justify-content: flex-end;
          border-bottom: 1px solid $eqLightGrey;
          border-top: 8px solid $eqWhite;

          @media (max-width: 768px) {
            visibility: visible;
            position: relative;
            top: 0 !important;
            padding: 0;
            border-top: none;
            border-bottom: none;
            height: auto;
            width: 100%;
          }

          .menu-item {
            @media (max-width: 768px) {
              width: 100% !important;
              border-bottom: none;
            }

            a {
              @media (max-width: 768px) {
                width: 100%;
              }
            }
            &::before {
              transition: unset;
              height: 100%;
              @media (max-width: 768px) {
                display: none;
              }
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      position: fixed;
      top: 70px;
      left: 0;
      background-color: rgba($color: #aeaca9, $alpha: 0.7);
      width: 100%;
      // GSAP in navigation.js handles animating in the menu
      height: 0;
      opacity: 0;
      pointer-events: none;

      .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        flex-direction: column;
        justify-content: flex-start;
        background-color: $eqWhite;
        // GSAP in navigation.js handles animating in the menu
        height: 0;
        opacity: 0;
        pointer-events: none;

        .menu-item {
          width: 100%;
          height: auto;
          border-bottom: 1px solid $eqLightGrey;
          padding: 15px;

          &:before {
            display: none;
          }

          a {
            font-size: 16px;
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    display: flex;
    padding-bottom: 9px;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

//
// Front Page Header Styles
//
.home.transparent-header #site-navigation {
  .menu-main-container {
    .menu {
      .menu-item {
        border-bottom: 8px solid transparent;

        @media (max-width: 768px) {
          width: 100%;
          height: auto;
          border-bottom: 1px solid #d6d3d0;
          padding: 15px;
        }

        &::before {
          background-color: transparent;
        }
      }

      .menu-item-has-children {
        &:hover {
          .sub-menu {
            visibility: visible;
            pointer-events: all;
          }
        }

        ul.sub-menu {
          background-color: transparent;
          border-top-color: transparent;
          border-bottom-color: transparent;

          .menu-item {
            &::before {
              height: 0;
            }
          }
        }
      }
    }
  }
}
